.grid {
  display: grid;
  gap: 20px;
  width: 100%;
}

.oneColumn {
  grid-template-columns: 1fr;
}

.twoColumns {
  grid-template-columns: repeat(2, 1fr);
}

.threeColumns {
  grid-template-columns: repeat(3, 1fr);
}

.gridItem {
  display: flex;
  height: 100%;
}
