:root {
  --background-light: #ffffff;
  --text-light: #333333;
  --header-bg-light: #f8f9fa;
  --header-text-light: #333333;
  --link-light: #007bff;
  --link-hover-light: #0056b3;
  --button-bg-light: #007bff;
  --button-text-light: #ffffff;

  --background-dark: #1a1a1a; /* Um pouco mais claro que preto puro */
  --text-dark: #e0e0e0; /* Cinza claro para texto */
  --header-bg-dark: #333333;
  --header-text-dark: #ffffff;
  --link-dark: #61dafb; /* Azul claro do React */
  --link-hover-dark: #8aedff;
  --button-bg-dark: #61dafb;
  --button-text-dark: #1a1a1a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para o tema claro */
body.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}

body.light-theme .header {
  background-color: var(--header-bg-light);
  color: var(--header-text-light);
}

body.light-theme .header a {
  color: var(--header-text-light);
}

body.light-theme .navLinks a {
  color: var(--link-light);
}

body.light-theme .navLinks a:hover {
  color: var(--link-hover-light);
}

body.light-theme .themeToggle {
 color: var(--header-text-light);
}

/* Estilos para o tema escuro */
body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.dark-theme .header {
  background-color: var(--header-bg-dark);
  color: var(--header-text-dark);
}

body.dark-theme .header a {
  color: var(--header-text-dark);
}

body.dark-theme .navLinks a {
  color: var(--link-dark);
}

body.dark-theme .navLinks a:hover {
  color: var(--link-hover-dark);
}

body.dark-theme .themeToggle {
 color: var(--header-text-dark);
}

/* Estilos gerais que podem ser afetados pelo tema */
a {
  transition: color 0.3s ease;
}

button {
 transition: background-color 0.3s ease, color 0.3s ease;
}

/* Adicione mais seletores conforme necessário para estilizar outros componentes */

