.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox {
  margin-right: 0.5rem;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.label {
  font-weight: normal; /* Label do checkbox não precisa ser bold */
  cursor: pointer;
  color: var(--text-light);
}

body.dark-theme .label {
  color: var(--text-dark);
}

.errorMessage {
  color: #dc3545;
  font-size: 0.8rem;
  margin-left: 1rem; /* Espaço entre o label e a mensagem de erro */
}
